.row-toggle {
  display: block;
  background-color: #fff;
  margin-top: 2px;
  line-height: 40px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 99999;
  margin-left: -14px;
  width: 86%;
  position: fixed;
}

.full-wide {
  width: 150%;
  transition: 0.5s;
  left: 100px !important;

  .row-toggle {
    display: block;
    background-color: #fff;
    margin-top: 2px;
    line-height: 40px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 99999;
    margin-left: -14px;
    width: 100%;
    left: 0px;
    position: fixed;
  }
}
